<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vask Clothes</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/views/css/style.css"> 
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav white1">
                    <li class="nav-item">
                        <a class="nav-link" href="#">NAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NỮ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">KHÁC</a>
                    </li>
                    </ul>
                    <a class="navbar-brand titleshop" href="#">VASK STORE</a>
                    <ul class="navbar-nav navp">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
<section class="banner text-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="banner-text">
            <h2 class="welcome">WELCOME TO</h2>
            <div class="website">WWW.VASK.COM.VN</div>
            <h1 class="me-5">Vask Clothes</h1>
            <br>
            <div class="sale me-5">Sale 50%</div>
            <div class="stars">★★★★★</div>
            <p class="text-start">Đến với Vask, bạn sẽ được trải nghiệm những thiết kế thời thượng, phù hợp với xu hướng hiện đại, giúp bạn tự tin hơn trong mọi bước đi. Đặc biệt, Vask đang có chương trình ưu đãi siêu hấp dẫn - giảm ngay 50% cho tất cả sản phẩm!</p>
            <button class="gopage btn btn-dark">Đặt Hàng Ngay!!</button>
        </div>
        <div class="banner-image">
            <img src="/images/banner.jpg" alt="Fashion Model" class="img-fluid shadow">
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Services</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Dịch vụ</a></li>
                    <li><a href="#">Chính sách</a></li>
                    <li><a href="#">Dịch vụ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Terms & Policy</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Chính sách</a></li>
                    <li><a href="#">Chính sách</a></li>
                    <li><a href="#">Chính sách</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Số điện thoại</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Địa chỉ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Tracking Your Order</h5>
                <p>Enter your email,order code or phone numbers to find your oders</p>
                <form class="d-flex">
                    <input type="email" class="form-control me-2" placeholder="you@example.com">
                    <button class="btn btn-outline-light">Submit</button>
                </form>
                <div class="social-icons mt-3">
                    <a href="#" class="text-white me-2"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="text-white me-2"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fa fa-youtube"></i></a>
                </div>                
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2023 Vask All Rights Reserved.</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"></script>
</body>
</html>
