.search{
    display: flex;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(245, 245, 245, 1);
    padding-left: 70px;
}
.search input{
    margin-left: 900px;
    border-radius: 15px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    margin-right: 50px;
}
.navbar-nav .nav-link {
    color: white !important;
}
.navp {
    margin-right: 0px;
}
.titleshop {
    font-size: 20px;
    font-weight: bold;
    margin-right: 550px;
    margin-left: 450px;
}
table {  
    border-collapse: collapse; /* Gộp đường viền */  
    width: 100%;               /* Chiều rộng bảng */  
    text-align: center;           /* Căn giữa chữ */
    margin-top: 30px;
    
}  
th{
    background-color: rgba(245, 245, 245, 1);

}
td, th {  
    border: 1px solid black;   /* Đường viền cho ô */  
    padding: 8px;              /* Khoảng cách trong ô */  
}
.danhsachdonhang{
    margin-top: 30px;
}
button {  
    padding: 10px 20px;  
    font-size: 16px;  
    color: white;  
    border: none;  
    cursor: pointer;  
    border-radius: 5px;  
}  
/* Màu sắc cho từng trạng thái */  
.success {  
    background-color: green; /* Đã giao thành công */  
}  
.in-progress {  
    background-color: orange; /* Đang giao hàng */  
}  
.canceled {  
    background-color: red; /* Đã hủy */  
}  
.pending {  
    background-color: gray; /* Chưa xác nhận */  
}  
.mualai{
    color: black;
}
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 300px;
}
.footer a {
    color: #ddd;
    text-decoration: none;
}
.footer a:hover {
    color: white;
}

/* Đặt chiều cao cho phần chứa form */
.h-custom-2 {
    height: 85vh;
}

.Login1 {
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Đảm bảo button chiếm toàn bộ chiều rộng */
.btn-block {
    width: 100%;
}

/* Căn giữa và điều chỉnh kích thước form */
.form-container form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Đặt hình ảnh bên phải và chiếm nửa trang */
.img-container {
    overflow: hidden;
    height: 565px;
    margin: auto 0;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 20px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .img-container {
        display: none;
    }
    .form-container {
        margin: 0 auto;
    }
}

