.footer {
    background-color: #222;
    color: #ddd;
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
}

.footer .col-md-3 {
    flex: 1;
    min-width: 200px;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer .text-center {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
}


.footer .text-center {
    margin-top: 20px;
    text-align: center;
    flex-basis: 100%;
}


.footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
    
}

.footer ul li a:hover {
    color: #fff;
}

.footer .social-icons a {
    color: #bbb;
    font-size: 1.5em;
    margin-right: 15px;
    transition: color 0.3s;
}

.footer .social-icons a:hover {
    color: #fff;
}

.footer .text-center p {
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}
